version: '2'

services:
  redis:
    image: 'docker.io/bitnami/redis:6.0-debian-10'
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - '6379:6379'
    volumes:
      - 'redis_data:/bitnami/redis/data'

  redbeat-manager: 
    image: 'redbeat-manager'
    environment: 
      - REDIS_URL=redis://redis/
    links:
      - "redis"
    ports: 
      - '5000:5000'

volumes:
  redis_data:
    driver: local
